.container__titulo {
  height: 35rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  background: rgba(216, 228, 241, 0.46);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
}

.logo {
  width: 12.5rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.title {
  color: #231f20;
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 5rem;
}

.container__titulo p {
  font-size: 1rem;
  margin-top: 5rem;
}

.link__login {
  text-decoration: underline;
  transition: 200ms ease-in-out;
}

.link__login:hover {
  opacity: 0.7;
}

@media screen and (max-width: 800px) {
  .container__titulo {
    margin-top: 2rem;
    justify-content: flex-start;
    height: 10rem;
    width: 30rem;
    border-radius: 5px 5px 0 0;
  }
  .logo {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .title {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .container__titulo p {
    margin: 1rem;
    margin-bottom: 0;
  }
}
